@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Raleway:300,400,600,700&subset=latin-ext");
* {
  box-sizing: border-box; }

body {
  font-family: 'Raleway', sans-serif;
  margin: 0; }

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px; }

.margin-60 {
  margin: 60px auto; }

a:link {
  text-decoration: none;
  color: #fff; }

/* jumbotron */
.jumbotron {
  background-image: url(https://i.imgur.com/foqjuI8.png);
  background-size: cover;
  background-position: center;
  height: 640px;
  padding: 0; }
  .jumbotron nav {
    height: 50px;
    background: rgba(0, 0, 0, 0.1); }
    .jumbotron nav .brand {
      display: inline-block;
      width: 189px;
      height: 24px;
      padding-top: 18px; }
      .jumbotron nav .brand .brand-link {
        display: inline-block;
        width: 189px;
        height: 24px; }
    .jumbotron nav ul {
      margin: 0;
      padding: 0;
      float: right; }
      .jumbotron nav ul li {
        display: inline-block;
        padding: 10px 0 0 18px;
        height: 50px;
        line-height: 50px; }
        .jumbotron nav ul li a {
          font-size: 13px;
          font-weight: 700;
          text-transform: uppercase;
          cursor: pointer;
          transition: .2s; }
          .jumbotron nav ul li a:hover {
            color: #77798F; }
  .jumbotron .jumbotron-content {
    padding: 180px 50px 0 50px;
    text-align: center;
    color: #fff; }
    .jumbotron .jumbotron-content h1 {
      font-size: 50px;
      font-weight: 700;
      text-transform: uppercase;
      padding: 0;
      margin: 0; }
    .jumbotron .jumbotron-content p {
      font-size: 19px;
      font-weight: 400;
      padding-bottom: 40px; }
    .jumbotron .jumbotron-content button {
      cursor: pointer;
      color: #fff;
      font-size: 13px;
      font-weight: 600;
      background: #e84545;
      border: none;
      text-transform: uppercase;
      padding: 10px 30px;
      transition: .2s; }
      .jumbotron .jumbotron-content button:hover {
        background: #c62323;
        color: #d7d7d7; }

/* benefits */
.benefits {
  text-align: center; }
  .benefits [class*="col-"] {
    padding: 20px; }
  .benefits h4 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0 10px 0; }
  .benefits p {
    font-size: 14px;
    font-weight: 400; }

/* gallery */
.gallery [class*="col-"] {
  position: relative;
  padding: 0.5px; }
  .gallery [class*="col-"] img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    position: relative;
    z-index: 20; }
  .gallery [class*="col-"] .red-layer {
    width: 100%;
    height: 250px;
    background: rgba(232, 69, 69, 0.9);
    color: #fff;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    transition: .5s; }
    .gallery [class*="col-"] .red-layer:hover {
      opacity: 1; }
    .gallery [class*="col-"] .red-layer h5 {
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      margin: 100px 0 0 0; }
    .gallery [class*="col-"] .red-layer p {
      font-size: 14px;
      font-weight: 400;
      margin-top: 10px; }

/* crew */
.crew [class*="col-"] {
  padding: 0 10px; }

.crew img {
  max-width: 100%;
  width: 230px;
  height: 230px;
  object-fit: cover; }

.crew h3 {
  font-size: 22px;
  font-weight: 400; }

.crew h5 {
  font-size: 13px;
  font-weight: 400;
  color: #e84545; }

.crew p {
  font-size: 14px;
  font-weight: 400; }

/* slider */
.slider {
  height: 350px;
  background: #53354a;
  color: #fff; }
  .slider .carousel {
    height: 350px; }
    .slider .carousel .slider-text {
      padding: 70px 120px 40px 40px; }
    .slider .carousel .carousel-indicators {
      width: 50%;
      right: 0;
      margin-left: 0; }
    .slider .carousel img {
      width: 100%;
      height: 350px;
      object-fit: cover; }
    .slider .carousel p {
      font-size: 30px;
      font-weight: 400;
      font-style: italic;
      font-family: 'Cardo', serif;
      margin: 0; }
    .slider .carousel span {
      display: block;
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
      padding-top: 30px;
      letter-spacing: 1px; }

.padding-0 {
  padding: 0; }

/* media queries */
@media (max-width: 1199px) {
  .crew {
    text-align: center; }
    .crew [class*="col-"] {
      padding: 30px 20px; }
  .slider .carousel .slider-text {
    padding: 70px 30px; } }

@media (max-width: 991px) {
  .jumbotron .jumbotron-content {
    padding: 140px 50px 0 50px; }
  .slider {
    height: auto; }
    .slider .carousel {
      height: auto; }
      .slider .carousel img {
        height: 350px; } }

@media (max-width: 767px) {
  .jumbotron {
    height: auto; }
    .jumbotron nav {
      height: auto; }
      .jumbotron nav .brand {
        margin: 0 auto;
        display: block;
        padding: 15px 0 30px 0; }
      .jumbotron nav ul {
        float: none;
        text-align: center; }
        .jumbotron nav ul li {
          display: block;
          padding: 10px 0 5px 0;
          line-height: 15px;
          height: auto; }
    .jumbotron .jumbotron-content {
      padding: 50px 0;
      height: auto; }
      .jumbotron .jumbotron-content h1 {
        font-size: 35px;
        font-weight: 400; }
      .jumbotron .jumbotron-content p {
        font-size: 16px;
        font-weight: 400;
        padding-bottom: 0; }
  .slider .carousel .carousel-text {
    padding: 40px 10px; }
  .slider .carousel p {
    font-size: 25px; } }

/*# sourceMappingURL=style.css.map */