@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Raleway:300,400,600,700&subset=latin-ext");
* {
  box-sizing: border-box; }

body {
  font-family: 'Raleway', sans-serif;
  margin: 0; }

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px; }

.section-margin {
  margin: 80px auto; }

a:link {
  text-decoration: none; }

/* jumbotron */
.jumbotron {
  background-image: url(https://i.imgur.com/foqjuI8.png);
  background-size: cover;
  background-position: center;
  height: 640px;
  padding: 0; }
  .jumbotron nav .brand-link {
    display: inline-block;
    width: 189px;
    height: 24px;
    margin-top: 20px; }
  .jumbotron nav ul {
    margin: 0;
    padding: 0;
    float: right;
    margin-top: 28px; }
    .jumbotron nav ul li {
      display: inline-block;
      padding-left: 20px; }
      .jumbotron nav ul li a {
        font-size: 13px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
        transition: .2s; }
        .jumbotron nav ul li a:hover {
          color: #77798F; }
  .jumbotron .jumbotron-content {
    padding: 180px 50px 0 50px;
    text-align: center;
    color: #fff; }
    .jumbotron .jumbotron-content h1 {
      font-size: 50px;
      font-weight: 700;
      text-transform: uppercase;
      padding: 0;
      margin: 0; }
    .jumbotron .jumbotron-content p {
      font-size: 19px;
      font-weight: 400;
      margin: 0;
      padding-bottom: 60px; }

.findout, .down-btn {
  border: none;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  background: #e84545;
  border: none;
  text-transform: uppercase;
  padding: 10px 30px;
  transition: .2s; }
  .findout:hover, .down-btn:hover {
    background: #c62323;
    color: #d7d7d7; }

/* benefits */
.benefits {
  text-align: center; }
  .benefits [class*="col-"] {
    padding: 40px 30px; }
  .benefits h4 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0 10px 0; }
  .benefits p {
    font-size: 14px;
    font-weight: 400; }

/* gallery */
.gallery [class*="col-"] {
  position: relative;
  padding: 0.5px; }
  .gallery [class*="col-"] img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    position: relative;
    z-index: 20; }

.gallery .red-layer {
  width: calc(100% - 1px);
  height: 250px;
  background: rgba(232, 69, 69, 0.9);
  color: #fff;
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 0.5px;
  left: 0.5px;
  z-index: 100;
  transition: .5s; }
  .gallery .red-layer:hover {
    opacity: 1; }
  .gallery .red-layer h5 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 100px 0 0 0; }
  .gallery .red-layer p {
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px; }

/* crew */
.crew [class*="col-"] {
  padding: 0 10px; }

.crew img {
  max-width: 100%;
  width: 230px;
  height: 230px;
  object-fit: cover; }

.crew h3 {
  font-size: 22px;
  font-weight: 400; }

.crew h5 {
  font-size: 13px;
  font-weight: 400;
  color: #e84545; }

.crew p {
  font-size: 14px;
  font-weight: 400; }

.crew .social {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: #fff;
  border: 1px solid #c6cacc;
  text-align: center;
  line-height: 32px;
  transition: .3s; }
  .crew .social:hover {
    background: #c6cacc; }
    .crew .social:hover .fa {
      color: #fff; }
  .crew .social a {
    display: inline-block;
    height: 32px;
    width: 32px; }
    .crew .social a .fa {
      transition: .3s;
      color: #c6cacc;
      font-size: 16px; }

/* slider */
.slider {
  height: 350px;
  background: #53354a;
  color: #fff; }
  .slider .carousel {
    height: 350px; }
    .slider .carousel [class*="col-"]:last-of-type {
      padding: 70px 120px 40px 40px; }
    .slider .carousel .row {
      margin: 0; }
    .slider .carousel .carousel-indicators {
      width: 50%;
      right: 0;
      margin-left: 0; }
    .slider .carousel img {
      width: 100%;
      height: 350px;
      object-fit: cover; }
    .slider .carousel p {
      font-size: 30px;
      font-weight: 400;
      font-style: italic;
      font-family: 'Cardo', serif;
      margin: 0; }
    .slider .carousel span {
      display: block;
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
      padding-top: 30px; }
    .slider .carousel [class*="col-"]:first-of-type {
      padding: 0; }

/* download */
.download {
  text-align: center; }
  .download h1 {
    font-size: 28px;
    font-weight: 300;
    margin: 0 0 20px 0; }
  .download h4 {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 50px; }

.down-btn {
  padding: 10px 60px; }

/* footer */
.contact {
  background: #3a3e64;
  padding: 50px 0 90px 0;
  text-align: center;
  color: #fff; }
  .contact h2 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase; }
  .contact p {
    font-size: 14px;
    font-weight: 400;
    opacity: 0.5; }
  .contact button {
    width: 40px;
    height: 40px;
    background: #3a3e64;
    border: 2px solid #fff;
    transition: .3s; }
    .contact button:hover {
      background: #fff; }
      .contact button:hover .fa {
        color: #3a3e64; }
    .contact button .fa {
      font-size: 19px;
      color: #fff;
      transition: .3s; }

.copyright {
  background: #313454;
  padding: 30px 15px;
  text-align: center; }
  .copyright p {
    margin: 0;
    color: #808080;
    font-size: 14px;
    font-weight: 400; }
    .copyright p .fa {
      color: #e84545;
      font-size: 13px;
      position: relative;
      bottom: 1px; }
  .copyright span {
    color: #fff; }

/* media queries */
@media (max-width: 1199px) {
  .crew {
    text-align: center; }
    .crew [class*="col-"] {
      padding: 30px 20px; }
    .crew .slider .carousel [class*="col-"]:last-of-type {
      padding: 70px 30px; } }

@media (max-width: 991px) {
  .container {
    max-width: 95%; }
  .jumbotron .jumbotron-content {
    padding: 140px 50px 0 50px; }
  .slider {
    height: auto; }
    .slider .carousel {
      height: auto; }
      .slider .carousel img {
        height: 350px; }
      .slider .carousel .carousel-indicators {
        width: 100%;
        left: 0; }
      .slider .carousel span {
        padding-bottom: 25px; }
  .contact {
    padding: 40px 0; }
    .contact [class*="col-"] {
      padding: 30px 15px; } }

@media (max-width: 767px) {
  .section-margin {
    margin: 60px auto; }
  .jumbotron {
    height: auto; }
    .jumbotron nav .brand-link {
      display: block;
      margin: 20px auto 5px auto; }
    .jumbotron nav ul {
      float: none;
      text-align: center; }
      .jumbotron nav ul li {
        display: block;
        padding: 0;
        height: 40px;
        width: 150px;
        margin: 0 auto; }
        .jumbotron nav ul li:after {
          content: "";
          display: block;
          width: 150px;
          height: 1px;
          border-top: 1px dotted #77798F;
          margin: 0 auto; }
        .jumbotron nav ul li a {
          display: block;
          font-size: 16px;
          font-weight: 400;
          width: 100%;
          height: 40px;
          line-height: 40px; }
          .jumbotron nav ul li a:hover {
            color: #fff; }
      .jumbotron nav ul li:last-of-type:after {
        display: none; }
    .jumbotron .jumbotron-content {
      padding: 80px 20px 40px 20px;
      height: auto; }
      .jumbotron .jumbotron-content h1 {
        font-size: 35px;
        font-weight: 400; }
      .jumbotron .jumbotron-content p {
        font-size: 16px;
        font-weight: 400;
        padding-bottom: 30px; }
  .slider .carousel [class*="col-"]:last-of-type {
    padding: 40px 20px; }
  .slider .carousel p {
    font-size: 25px; }
  .findout:hover, .down-btn:hover {
    background: #e84545;
    color: #fff; }
  .contact button:hover {
    background: #3a3e64; }
    .contact button:hover .fa {
      color: #fff; }
  .crew .social:hover {
    background: #fff; }
    .crew .social:hover .fa {
      color: #c6cacc; }
  .gallery .red-layer {
    background: transparent;
    opacity: 1;
    text-shadow: 2px 2px 2px #000; }
    .gallery .red-layer h5 {
      margin: 180px 0 0 0;
      font-size: 17px;
      font-weight: 700; }
    .gallery .red-layer p {
      margin-top: 5px;
      font-size: 16px;
      font-weight: 400; } }

/*# sourceMappingURL=style.css.map */